{% extends "base.html.twig" %}

{% block title %}
{{ parent() }} - A propos
{% endblock %}

{% block body %}

<div class="row mt-5">
    <h1>A propos</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quia totam in laboriosam blanditiis nostrum maxime, voluptas perspiciatis debitis dolores aspernatur earum nisi, fugiat obcaecati assumenda alias animi labore qui.
        Earum fuga, cupiditate aut rerum facilis temporibus cum? Libero accusantium voluptate rem ad aliquam labore esse iste atque hic. Explicabo, cumque aut saepe amet quibusdam commodi ea atque odio provident?
        Earum voluptate pariatur ipsa! Hic totam, porro ab atque temporibus laudantium maiores a dolorum cumque dolorem at fugit molestias enim eius ullam odio, similique velit dolor excepturi ratione incidunt inventore.
        Quod nostrum vel dicta consectetur harum blanditiis nesciunt, culpa quae, doloremque laudantium sapiente provident, officia fugiat sunt voluptas dolore laborum hic magnam. Assumenda reprehenderit iusto repudiandae voluptas nostrum, magni fugiat!
        Omnis sequi id laboriosam harum libero, ullam labore dicta dolor officia non repellat tempora quisquam dignissimos explicabo molestias rerum facere error unde eveniet accusantium veniam, iusto quam voluptas! Totam, similique?
        Exercitationem minima consequuntur hic doloribus doloremque earum sunt corporis iure labore aut ab magni eveniet cum explicabo numquam quis consectetur similique neque molestias mollitia voluptate quas, quos minus tenetur! Distinctio?
        Nostrum fugiat ab, asperiores vitae provident rem, ex incidunt doloribus quo corrupti, earum inventore reprehenderit officia sunt ipsam ratione labore facere doloremque optio in laboriosam molestias. Nemo, et blanditiis. Excepturi?
        Omnis adipisci architecto mollitia esse ut quibusdam dolor vel eum aperiam, quo reiciendis animi facere error veniam incidunt, fuga ratione. Quos asperiores nemo, quas veritatis optio commodi quo obcaecati labore?
        Eius fugiat unde assumenda temporibus sequi enim ipsum ad blanditiis porro! Beatae officia architecto minus quaerat! Dignissimos quaerat facilis excepturi possimus hic, eos suscipit, repellendus eaque voluptatibus, perferendis mollitia non!
        Eligendi rerum minus aliquam unde fugit enim facilis at vitae pariatur, obcaecati, ab velit illo quis sequi omnis voluptatum! Fugit nobis ipsam qui harum voluptas necessitatibus cumque tempora enim assumenda?
    </p>
</div>

{% endblock %}