{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block body %}
<div class="row mt-5">
    <h2>{{wish.title}}</h2>
    <p>{{wish.description}}</p>
    <p>{{wish.dateCreated|date("d/m/Y h\\Hi ") }}</p>
    <p>{{wish.author}}</p>
</div>
{% endblock %}
