{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
<div class="row mt-5">
    <h3>Liste wish</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, magnam repellendus culpa debitis, ipsum alias est hic deserunt veniam eos veritatis sed optio. Atque, vitae. Excepturi iusto consequatur explicabo ab!</p>
</div>
{% endblock %}
